# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configuración de entorno
.env
*.env
.env.*

# Archivos temporales / cachés
*.log
*.tmp
*.cache
*.bak
*.swp
*.zip

# Directorios comunes de PHP
/vendor/          # si más adelante usan Composer
/node_modules/    # si agregan librerías JS con npm
composer.lock
package-lock.json

# Directorios de XAMPP
xamppfiles/
htdocs/test/
htdocs/temp/

# Archivos de base de datos exportados
*.sql
*.sql.gz
*.sqlite

# Archivos de sistema operativo
ehthumbs.db
Icon?
